torch>=2.4.0
torchvision>=0.19.0
accelerate>=1.1.1
av
dashscope
decord
diffusers>=0.31.0
easydict
einops
ffmpeg-python
ftfy
gradio==5.23.0
hydra-core
imageio
imageio-ffmpeg
librosa==0.11.0
loguru
matplotlib
misaki
mmgp==3.5.1
moviepy==1.0.3
mutagen
numpy>=1.23.5,<2
omegaconf
onnxruntime-gpu
open_clip_torch >= 2.29.0
opencv-python>=4.9.0.80
peft==0.15.0
psutil
pyannote.audio
pydantic==2.10.6
pygame>=2.1.0
pyloudnorm
pynvml
rembg[gpu]==2.0.65
segment-anything
sentencepiece
sounddevice>=0.4.0
soundfile
tensordict >= 0.6.1
timm
tokenizers>=0.20.3
torchdiffeq >= 0.2.5
tqdm
transformers==4.51.3
#flash_attn
#num2words
#rembg==2.0.65
#spacy
#transformers==4.46.3 # was needed by llamallava used by i2v hunyuan before patch
